<div>
  <div>
    {{location?.CityName }}

  </div>
  <div>
    {{location?.Temperature.Metric?.Value}}
    {{location?.Temperature.Metric?.Unit }}
 
  </div>
  <div>
      <img src="assets/{{location?.WeatherIcon}}.png" alt="">
          </div>
  <h3>{{location?.WeatherText}}</h3>

  <!-- <button type="button" (click)="onFavoritesClick()">
    {{ isClicked ? "Remove From Favorites" : "Add To Favorites" }}
  </button> -->

  <!-- <div *ngIf="movieDetails.length > 0">
    <ul>
      <li *ngFor="let movieDetail of movieDetails">
        {{ movieDetail }}
      </li>
    </ul>
  </div> -->
</div>